# API:
API is an acronym for Application Programming Interface which help us to access data, server software or other applications by allowing pieces of code to interact with one another

In this project I'm using an api to get the data from a server

### This markdown cell contains the steps that I've used
step1:importing request library to make Api requests,pandas library for dataframe 

In this project we using the TMBD website's database so we requesting this website Api for the data for which we need an API key. (https://www.themoviedb.org/)

Step2:requesting an api key which give us access to that api
### steps for an api key
1)make an TMDB account

2)In setting pages under Api tab there is an option for making an Api key fill out the details and Api key will be availablein a couple of minutes

Step3: On developers website you will have the response url which will get the data.

Step4: convert this into .json flie and save this to a dataframe

Step5: convert this into .csv file

In [ ]:
#import libraries
import requests
import pandas as pd

In [ ]:
#Keys
API_KEY = "9d550519bc6f119d38bfcc9f31333732"

In [ ]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=9d550519bc6f119d38bfcc9f31333732&language=en-US&page=1')

In [ ]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [ ]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,102.565,8.7,16790
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,109.622,8.7,22518
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,68.952,8.6,10174
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,30.344,8.6,3920
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,74.021,8.6,13367

In [ ]:
df = pd.DataFrame()

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

one run of this code will give us single page data so make a for loop for 100 pages and save this data fin df dataframe

In [ ]:
for i in range(1,100):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [ ]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,102.565,8.7,16790
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,109.622,8.7,22518
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,68.952,8.6,10174
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,30.344,8.6,3920
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,74.021,8.6,13367
...,...,...,...,...,...,...,...
1975,6619,Death in Venice,Composer Gustav von Aschenbach travels to Veni...,1971-03-05,9.153,7.3,375
1976,180,Minority Report,John Anderton is a top 'Precrime' cop in the l...,2002-06-20,23.833,7.3,7375
1977,283591,The Secret Scripture,The hidden memoir of an elderly woman confined...,2017-03-23,20.443,7.3,237
1978,18874,Ghost in the Shell: Stand Alone Complex – Soli...,"The story takes place in the year 2034, two ye...",2006-09-01,10.501,7.3,211
1979,15003,Chocolate,"Zen, an autistic teenage girl with powerful ma...",2008-02-06,10.899,7.3,397

In [ ]:
df.shape

(1980, 7)

convert this data into csv file

In [ ]:
df.to_csv('movies.csv')